<div class="container">
  <h2>All Boards</h2>
  <div class="board">
    <div class="board_head">
      <div class="board_title">
        <%= @task.title %>
      </div>
      <div class="board_actions">
        <div class="dropdown">
          <%= image_tag 'actions.svg' %>
          <div class="dropdown-content mini">
            <a href="">Edit</a>
            <a href="">Delete</a>
          </div><!-- /.dropdown-content -->
        </div><!-- /.dropdown -->
      </div>
    </div>
    <div class="board_body">
      <div class="board_content">
        <%= @task.content %>
      </div>
      <div class="board_icon">
        <%= image_tag 'default-avatar.png' %>
      </div>
    </div>
  </div>
  <a href="" class="board_new">
    <p>+ Add new borad</p>
  </a><!-- /.board_new -->
</div>