@import './variables';

$heart-size: 16px;
$avatar-size: 32px;

.card,
.board {
  margin: 16px 0;
  padding: 32px 17px 22px;
  background: #F4F4F4;
  border-radius: 10px;
  cursor: pointer;

  &_head {
    display: flex;
    justify-content: space-between;
  }

  &_title {
  }

  &_body {

  }
  &_content {
    padding-top: 6px;
    font-size: 14px;
    opacity: 0.4;
  }

  &_icon {
    padding-top: 29px;
    cursor: pointer;
    display: flex;
    font-size: 10px;

    img {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 8px;
    }
  }

  &_new {
    display: block;
    padding: 68px 0;
    border-radius: 10px;
    border: 1px dashed rgba(0, 0, 0, 0.20);
    background: #FFF;
    display: flex;
    justify-content: center;
    text-decoration: none;
    p {
      color: $text-base-color;
    }
  }

}