@import './variables';

$heart-size: 16px;
$avatar-size: 32px;

.card,
.board {
  margin: 16px 0;
  padding: 32px 17px 22px;
  background: #F4F4F4;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  a {
    width: 100%;
  }

  &_body {
    position: relative;
  }
  &_title {
  }
  &_content {
    padding-top: 6px;
    padding-bottom: 29px;
    font-size: 14px;
    opacity: 0.4;
  }

  &_icon {
    cursor: pointer;
    display: flex;
    font-size: 10px;
    
    ul {
      padding-left: 0;
      display: flex;
    }

    li {
      list-style: none;
      &:not(:first-child) {
        margin-left: -20px;
      }
    }

    img {
      width: $avatar-size;
      height: $avatar-size;
      border-radius: 100%;
      margin-right: 8px;
    }
  }

  &_comment-count {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    span {
      color: #000;
      font-size: 14px;
      opacity: 0.2;
    }
  }

  &_actions {
    
  }

  &_new {
    display: block;
    padding: 68px 0;
    border-radius: 10px;
    border: 1px dashed rgba(0, 0, 0, 0.20);
    background: #FFF;
    display: flex;
    justify-content: center;
    text-decoration: none;
    p {
      color: $text-base-color;
    }
  }

  &_image {
    margin-bottom: 35px;
    height: 170px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  &_detail {
    &_head {
      margin-bottom: 32px;
      display: flex;
      gap: 25px;
      justify-content: space-between;

      h2 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &_body {
      
    }

    &_content {
      padding: 20px 16px;
      color: #000;
      font-size: 14px;
      border-radius: 10px;
      background: #F4F4F4;
    }
  }

}